.global_header {
    background-color: #003040;
    min-height: 64px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

@media only screen and (max-width: 850px) {
    .global_header {
        flex-direction: column;
    }
}

.logo_img {
    max-width: 114px;
    max-height: 64px;
}

.nav_bttns_group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.nav_bttn {
    color: #F2EFE9;
    cursor: pointer;
    text-decoration: none;
}

.nav_bttn_active {
    text-decoration: underline;
}