<header class="global_header">
    <img
    [src]="imagePath"
    alt="Audsat Logo"
    class="logo_img"
    >
    
    <nav class="nav_bttns_group">
          <a
            class="nav_bttn"
            routerLink="/home"
            routerLinkActive="nav_bttn_active"
            ariaCurrentWhenActive="page"
          >
            Home
          </a>
          <a
            class="nav_bttn"
            routerLink="/listings"
            routerLinkActive="nav_bttn_active"
            ariaCurrentWhenActive="page"
          >
            Usuários
          </a>
          <a
          class="nav_bttn"
          routerLink="/logs"
          routerLinkActive="nav_bttn_active"
          ariaCurrentWhenActive="page"
        >
          Logs
        </a>
    </nav>
</header>
  